.header{
    height:34vw;
    margin: 30px auto;
    background: url('/backimg.webp') no-repeat;
    background-size: cover;
    position: relative; 
    border-radius: 0.7%;  
}
.header-contents{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s; 
}
.header h2{
    font-weight: 600;
    color: white;
    font-size: max(4.5vw,22px);
}
.header p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: nonw;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}